.p-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;

  padding-bottom: 2rem;
}

.p-container>:nth-child(1) {
  font-size: 3rem;
  color: var(--orange);
  font-weight: bold;
  margin-bottom: 2.4rem;
}

.p-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.p-card {
  width: 18.75rem;
  height: 17.5rem;
  padding: 30px 26px;
  background: #EBEBEB;
  border-radius: 10px;
  position: relative;

  box-shadow: 6px 6px 10px #EBEBEB;
  text-align: center;
}

.p-card>:nth-child(1) {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: bold;
}

.p-card>:nth-child(2) {
  font-size: 14px;
}

.p-card>:nth-child(3) button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 20px;
  font-weight: bold;
}

/*Mobile*/

@media(max-width:767px) {
  .p-container>:nth-child(1) {
    font-size: 2.25rem;
  }

  .p-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .p-card>:nth-child(3) button {
    right: 70px;
  }
}