.p-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-container>:nth-child(1) {
  font-size: 3rem;
  color: var(--orange);
  font-weight: bold;
  margin-bottom: 5rem;
}

.p-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  text-align: center;
}

.p-card {
  width: 350px;
  height: 188px;
  background: var(--orangeCard);
}