.about {
  display: flex;
  height: 100vh;
  gap: 5rem;
  padding-top: 2rem;
}

.a-dark {
  background: black;
}

.a-light {
  background: white;
}

.a-avatar img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.a-right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 2rem;
}

.a-right>:nth-child(1) {
  font-size: 3rem;
  font-weight: bold;
  color: var(--orange);
}

.a-right .text {
  font-size: 1.125rem;
  text-align: justify;
}

.social-btn {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.a-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 1rem;
}

/*Mobile, tablet*/
@media (min-width: 320px) and (max-width: 1023px) {
  .about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.2rem;
  }

  .a-avatar img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 2rem;
  }

  .a-right>:nth-child(1) {
    font-size: 2.25rem;
  }

  .a-right .text {
    font-size: 1rem;
    text-align: center;
  }
}