.n-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.n-dark {
  background: black;
  color: white;
}

.n-light {
  background: white;
  color: var(--black);
}

.n-left {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}



.n-list>ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

a {
  font-weight: bold;
}

a.light {
  color: var(--black);
}

a.dark {
  color: white;
}

.n-list>ul>li>a.dark:hover,
.n-list>ul>li>a.light:hover {
  cursor: pointer;
  color: var(--orange);
}

.n-btn {
  flex: 2;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .n-list {
    display: none;
  }

  .n-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }
}